* {
box-sizing: border-box;
}


body {
  background-color: #ae9edb;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Helvetica, sans-serif;
}


.navWrapper{
  display: flex;
  justify-content: flex-start;
  background-color: #333;
  padding: 2vmin;
}

.navMenu{
  display: flex;
  width: 50vmin;
  justify-content: space-between;
}

a, a:visited{
  color: white;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #111;
}

.activeLink {
  background-color: #5d28ed;

}

.mainContainer{
  display: flex;
  flex-direction: row;
}

.imageContainer{
  display: flex;
  width: 50%;
	background-color: #1e1438;
  padding: 20px;
  flex-wrap: wrap;
  object-fit: contain;
  justify-content: flex-end;
}

.header {
  display: flex;
  padding: 20px;
  color: black;
  align-self: center;
  justify-content: center;

}
img {
  width: 100%;
  flex-flow: column wrap;
  justify-content: space-around;
}

.info{
  display: flex;
  width: 50%;
  justify-content: flex-start;
  padding: 20px;
  background-color: #cec2ed;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 20px;
  flex-direction: column;
}


.reference{
  margin: 20px;
  padding: 20px;
}
